<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd
        http://www.springframework.org/schema/context 						
        http://www.springframework.org/schema/context/spring-context.xsd 	
        http://www.springframework.org/schema/tx 	
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.cdse.demo" />

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
		<property name="username" value="cdsedemo" />
		<property name="password" value="cdsedemo" />
		<!-- <property name="validationQuery" value="SELECT * FROM Person"/> -->
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.cdse.domain" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="HandlerMapping"
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<bean id="personReadListService" class="com.cdse.service.read.CompositeReadListService">
		<property name="readServiceList">
			<list>
				<ref bean="dbPersonReadListService" />
				<ref bean="soapPersonReadListService" />
				<ref bean="restPersonReadListService" />
			</list>
		</property>
	</bean>

	<bean id="personService" class="com.cdse.service.ServiceFacade">
		<property name="readRecordService" ref="dbPersonReadRecordService" />
		<property name="readListService" ref="personReadListService" />
		<property name="writeService" ref="personWriteService" />
		<lookup-method name="getOutDto" bean="personDto" />
	</bean>

	<bean id="dbPersonDao" class="com.cdse.dao.DaoFacade">
		<property name="readListDaoMap" ref="dbReadListDaoMapTempl" />
		<property name="readRecordDaoMap" ref="dbReadRecordDaoMapTempl" />
		<property name="writeDaoMap" ref="writeDaoMapTempl" />
	</bean>

	<bean id="restPersonDao" class="com.cdse.dao.DaoFacade">
		<property name="readListDaoMap" ref="restReadListDaoMapTempl" />
		<property name="writeDaoMap" ref="writeDaoMapTempl" />
	</bean>

	<bean id="soapPersonDao" class="com.cdse.dao.DaoFacade">
		<property name="readListDaoMap" ref="soapReadListDaoMapTempl" />
		<property name="writeDaoMap" ref="writeDaoMapTempl" />
	</bean>

	<bean id="dbPersonReadRecordService" class="com.cdse.service.read.ReadRecordServiceImpl">
		<property name="dao" ref="dbPersonDao" />
		<property name="translator" ref="personTranslator" />
	</bean>

	<bean id="dbPersonReadListService" class="com.cdse.service.read.ReadListServiceImpl">
		<property name="dao" ref="dbPersonDao" />
		<lookup-method name="getOutDto" bean="personDto" />
		<property name="translator" ref="personTranslator" />
	</bean>

	<bean id="restPersonReadListService" class="com.cdse.service.read.ReadListServiceImpl">
		<property name="dao" ref="restPersonDao" />
		<lookup-method name="getOutDto" bean="personDto" />
		<property name="translator" ref="restPersonTranslator" />
	</bean>

	<bean id="soapPersonReadListService" class="com.cdse.service.read.ReadListServiceImpl">
		<property name="dao" ref="soapPersonDao" />
		<lookup-method name="getOutDto" bean="personDto" />
		<property name="translator" ref="soapPersonTranslator" />
	</bean>

	<bean id="personWriteService" class="com.cdse.service.write.WriteServiceImpl">
		<property name="dao" ref="dbPersonDao" />
		<lookup-method name="getDomObject" bean="person" />
		<property name="translator" ref="personTranslator" />
	</bean>

	<bean id="soapPersonTranslator" class="com.cdse.translator.soap.PersonTranslator" />
	<bean id="restPersonTranslator" class="com.cdse.translator.rest.PersonTranslator" />
	<bean id="personTranslator" class="com.cdse.translator.db.PersonTranslator" />
	<bean id="person" class="com.cdse.domain.Person" scope="prototype" />
	<bean id="personWsAdapter" class="com.cdse.dao.soap.PersonWsAdapter" scope="prototype" />
	<bean id="personRestAdapter" class="com.cdse.dao.rest.PersonRestAdapter" scope="prototype" />
	<bean id="personDto" class="com.cdse.dto.PersonDto" scope="prototype" />

	<bean name="/createPerson.html" class="com.cdse.controller.PersonController" />
	<bean name="/updatePerson.html" class="com.cdse.controller.PersonController" />
	<bean name="/deletePerson.html" class="com.cdse.controller.PersonController" />
	<bean name="/getUsingId.html" class="com.cdse.controller.PersonController" />

	<util:map id="dbReadRecordDaoMapTempl" map-class="java.util.HashMap"
		key-type="java.lang.String" value-type="com.cdse.dao.ReadRecordDao">
		<entry>
			<key>
				<value>getUsingId</value>
			</key>
			<ref bean="dbGetPersonUsingId" />
		</entry>
	</util:map>

	<util:map id="dbReadListDaoMapTempl" map-class="java.util.HashMap"
		key-type="java.lang.String" value-type="com.cdse.dao.ReadListDao">
		<entry>
			<key>
				<value>getUsingId</value>
			</key>
			<ref bean="getPersonUsingNameQueryImpl" />
		</entry>
	</util:map>

	<util:map id="soapReadListDaoMapTempl" map-class="java.util.HashMap"
		key-type="java.lang.String" value-type="com.cdse.dao.ReadListDao">
		<entry>
			<key>
				<value>getUsingId</value>
			</key>
			<ref bean="soapGetPersonUsingId" />
		</entry>
	</util:map>

	<util:map id="restReadListDaoMapTempl" map-class="java.util.HashMap"
		key-type="java.lang.String" value-type="om.cdse.dao.ReadListDao">
		<entry>
			<key>
				<value>getUsingId</value>
			</key>
			<ref bean="restGetPersonUsingId" />
		</entry>
	</util:map>

	<bean id="soapGetPersonUsingId" class="com.cdse.dao.soap.SoapGetPersonUsingId" />
	<bean id="restGetPersonUsingId" class="com.cdse.dao.rest.RestGetPersonUsingId" />
	
	<bean id="dbGetPersonUsingId" class="com.cdse.dao.db.GetUsingId">
		<lookup-method name="getDomObject" bean="person" />
	</bean>

	<bean id="getPersonUsingNameQueryImpl" class="com.cdse.dao.db.GetPersonUsingNameQueryImpl" />

	<util:map id="writeDaoMapTempl" map-class="java.util.HashMap"
		key-type="java.lang.String" value-type="om.cdse.dao.db.WriteDao">
		<entry>
			<key>
				<value>insert</value>
			</key>
			<ref bean="dbSaveDao" />
		</entry>
		<entry>
			<key>
				<value>update</value>
			</key>
			<ref bean="dbSaveDao" />
		</entry>
		<entry>
			<key>
				<value>delete</value>
			</key>
			<ref bean="dbDeleteDao" />
		</entry>
	</util:map>

	<bean id="dbSaveDao" class="com.cdse.dao.db.DbSaveDao" />
	<bean id="dbDeleteDao" class="com.cdse.dao.db.DbDeleteDao" />
</beans>